@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/*
==============================
Global Style
==============================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/3503629/pexels-photo-3503629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mr-2 {
  margin-right: 2rem;
}

.container {
  width: 1000px;
  border-radius: 1rem;
  padding: 3rem 5rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/*
==============================
Tab Links Style
==============================
*/

.tab-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 4rem;
  list-style-type: none;
}

.tab-link {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: #909399;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-bottom: 2px solid transparent;
}
.tab-link:hover {
  color: #fff;
}
.tab-link__icon {
  margin-bottom: 1rem;
  font-size: 4rem;
  pointer-events: none;
}
.tab-link__title {
  pointer-events: none;
}

/*
==============================
Tab Content Style
==============================
*/

.tab-content-item {
  display: flex;
  justify-content: space-between;
}

/* Tab Content Image Style */
.image-container {
  width: 50%;
  border-radius: 1rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  padding: 2rem;
}

.image-container img {
  display: block;
  width: 100%;
}

/* Tab Content Text Style */
.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.text-container h2 {
  margin-bottom: 1rem;
  font-family: cursive;
  font-size: 2.2rem;
  color: #f5f5f5;
}

.text-container p {
  font-size: 1.7rem;
  color: #ccc;
  line-height: 1.6;
  text-align: justify;
}

.bold-text {
  font-weight: 700;
  color: #02ffff !important;
}

/* Tab Content Button Style */
.btn {
  padding: 1rem 3rem;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 1.4px;

  background-color: transparent;
  color: #fff;

  border: 2px solid #02ffff;
  border-radius: 5rem;
  outline: 0;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  height: 100%;
  background: #02ffff;
  top: 0;
}

.btn-solid {
  margin-right: 1rem;
}
.btn-solid::after {
  left: 0;
  width: 100%;
}

.btn-solid:hover::after {
  width: 0;
}

.btn-hollow::after {
  right: 0;
  width: 0%;
}

.btn-hollow:hover::after {
  width: 100%;
}

/* Tab Content List Style */
.text-container-list {
  list-style-type: none;
}
.text-container-list li {
  font-size: 1.6rem;
  color: #ccc;
  margin-bottom: 0.7rem;
}
.text-container-list li::before {
  content: "\25A0";
  color: #02ffff;
  font-weight: bold;
  display: inline-block;
  width: 0.5rem;
  margin-right: 1rem;
}

/* Tab Content Link Style */
.text-container-link {
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: #02ffff;
}
.text-container-link::after {
  content: " ";
  display: block;
  background-color: #1ebbce;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-out;
}
.text-container-link:hover::after {
  width: 100%;
}

/*************************/
.dn {
  display: none;
}

.active-link {
  color: #fff;
}
